{% extends 'base_layout.html' %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="mt-4 alert alert-danger">
            Vous devez être connecté pour accéder à vos informations de la blockchain
        </div>
    {% elif not accounts %}
        <div class="mt-4 alert alert-danger">
            Vous n'avez pas envoyé vos informations sur la blockchain
        </div>
    {% else %}
        <div class="row">
            <table class="table mt-4">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Email</th>
                  <th scope="col">Rôle</th>
                </tr>
              </thead>
              <tbody>
              {% for account in accounts %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ account.0 }}</td>
                  <td>{{ account.1 }}</td>
                  <td>{{ account.2 }}</td>
                    <td>{{ account.3 }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
