{% extends 'base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    {% if not is_authorized %}
        <div class="mt-4 alert alert-danger">
            Vous devez être connecté et avoir les bons droits pour accéder à cette page
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 m-auto">
                <form class="mt-4" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success float-right">Envoyer</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
