{% extends 'base_layout.html' %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="mt-4 alert alert-danger">
            Vous devez être connecté pour accéder à vos informations de la blockchain
        </div>
    {% elif not accounts %}
        <div class="mt-4 alert alert-danger">
            Vous n'avez pas envoyé vos informations sur la blockchain
        </div>
    {% else %}
        <div class="row">
            <table class="table mt-4">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prénom nom</th>
                    <th scope="col">Nom du job</th>
                    <th scope="col">Date de début</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Nom de la société</th>
                </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ account.member.0 }} {{ account.member.1 }}</td>
                        <td>{{ account.jobs.0.0 }}</td>
                        <td>{{ account.jobs.0.1 }}</td>
                        <td>{{ account.jobs.0.2 }}</td>
                        <td>{{ account.jobs.0.3 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
