{% extends 'base_layout.html' %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="mt-4 alert alert-danger">
            Vous devez être connecté pour accéder à vos informations de la blockchain
        </div>
    {% elif not call %}
        <div class="mt-4 alert alert-danger">
            Vous n'avez pas envoyé vos informations sur la blockchain
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 m-auto">
                <label class="font-weight-bold">Nom du job</label>
                <p>{{ call.0 }}</p>
                <label class="font-weight-bold">Date de début</label>
                <p>{{ call.1 }}</p>
                <label class="font-weight-bold">Date de fin</label>
                <p>{{ call.2 }}</p>
                <label class="font-weight-bold">Nom de la société</label>
                <p>{{ call.3 }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
