{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LinkedOut</title>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "linkedout.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "linkedout.css" %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LinkedOut</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "home" %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated and user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "add_user" %}">Ajout d'utilisateur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_user" %}">Visualisation utilisateur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "user_list" %}">Liste utilisateur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "add_job" %}">Ajout de job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_job" %}">Visualisation du job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "job_list" %}">Liste des jobs</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "login" %}">Se connecter</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
