{% extends 'base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 m-auto">
            <form class="mt-4" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-dark float-right">Connexion</button>
            </form>
        </div>
    </div>
{% endblock %}
